body{
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
  background-image: url('../../resources/img/pattern.jpeg');
}

.title{
  font-size: 32px;
  font-weight: bold;
  color:white;
}

#brushes{
  background: mediumspringgreen;
}

#frames{
  background: lightcoral;
}

#paint{
  background: skyblue;
}

.starting{
  color:blue;
  font-weight:bold;
}
